* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 500px;
    background-color: black;
}

.header1 {
    background-color: antiquewhite;
    width: 400px;
    height: 10%;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.nav1 {
    background-color: aqua;
    height: 5%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

main {
    height: 70%;
    background-color: blue;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

main nav {
    background-color: brown;
    height: 100%;
    width: 20%;
    float: left
}

.section1 {
    height: 50%;
    width: 100%;
    background-color: beige;
    float: left;
}

.section1 header {
    background-color: chartreuse;
    height: 15%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.section1 article {
    background-color: chartreuse;
    height: 55%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.section1 footer {
    background-color: chartreuse;
    height: 15%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.section2 {
    height: 50%;
    width: 100%;
    background-color:cadetblue;
    float: left;
}

.section2 header {
    background-color: chartreuse;
    height: 15%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.section2 article {
    background-color: chartreuse;
    height: 55%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.section2 footer {
    background-color: chartreuse;
    height: 15%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.section-group {
    float: left;
    height: 100%;
    width: 60%;
}
.aside1 {
    background-color: darkkhaki;
    height: 100%;
    width: 20%;
    float: left;
}

.end-footer {
    background-color: darkslateblue;
    height: 9%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

header img {
    height: 100%;
    width: 400px;
}

header li {
    width: 300%;
    height: 100%;
    display: flex;
    animation: animacion 10s infinite;
}

@keyframes animacion {
    0%, 23% {
        margin-left: 0px;
    }

    33%, 53% {
        margin-left: -400px;
    }

    66%, 86% {
        margin-left: -800px;
    }
}

.aside1 input[type="email"],input[type="password"]{
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.aside1 input[type="submit"]{
    width: 50px;
    margin-top: 5px;
}

.aside1 form {
    background-color: aqua;
    margin: 2px;
    padding: 5px;
}

.section1, .section2 p{
    font-size: small;
}

.nav2 img{
    width: 50px;
    height: 50px;
}

.nav2 {
    text-align: center;
    list-style: none;
}

.nav1 .menu {
    display: flex;
    list-style: none;
}

.nav1 .menu ul {
    list-style: none;
    margin-left: 50px;

}

.submenu {
    margin-top: 10px;
}

.nav1 {
    overflow: hidden;
    transition: 1s;
    
}

.nav1:hover {
    height: 100px;
}

.end-footer p{
    text-align: center;
    animation: animacionFooter 5s infinite;
}

@keyframes animacionFooter {
    0% ,20%{
        text-align: left;
    }
    33%, 53%{
        text-align: center;
    }
    66%, 96%{
        text-align: right;
    }
}